* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.super-over-league-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
}
.heading {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.teams-container {
  display: flex;
  flex-direction: row;
}
.logo-img {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .logo-img {
    height: 300px;
    width: 300px;
  }
}
